
<% if login? %>
  <h1>Welcome <%= profile.first_name %>!</h1>
  <a href = "/auth/logout">Logout</a>
  <p><%= profile.headline %></p>
  <br />

  <div>You have <%= connections.total %> connections!</div>

  <h5><a href = "/search">Faceted Search</a></h5>

  <% connections.all.each do |c| %>
    <div class = "user_list">
    <img src = "<%= c.picture_url %>">
      <h3><%= c.first_name %> <%= c.last_name %> - <%= c.industry %></h3>
      <p><%= c.headline %></p>
      <% if c.location != nil %>
        <em><%= c.location.name %></em>
      <% end %>

      <br>
    </div>
  <% end %>


<% else %>
  <a href = "/auth">Login using LinkedIn</a>
<% end %>

<!-- @@index
-if login?
  %p Welcome #{profile.first_name}!
  %a{:href => "/auth/logout"} Logout
  %p= profile.headline
  %br
  %div= "You have #{connections.total} connections!"
  -connections.all.each do |c|
    %div= "#{c.first_name} #{c.last_name} - #{c.headline}"
-else
  %a{:href => "/auth"} Login using LinkedIn -->