
<% if login? %>
  <h4>Welcome <%= profile.first_name %>!</h4>
  <a href = "/auth/logout">Logout</a>
  <p><%= profile.headline %></p>
  <br />

  <form id = "search_query" action = "/search" method = "post">
    <div class = "search_template">
   
    <div class = "industry_div"> 
      <h2>Top 5 Industries</h2>
      <% 5.times do |i| %>
      <button class = "industry" value = "<%= @industries[i].industry_name %>"><%= @industries[i].industry_name %></button><br>
      <%end%>
    </div>

    <div class = "location_div">
    <h2>Top 5 Locations</h2>
    <% 5.times do |i| %>
      <button class = "location" value = "<%= @locations[i].location_name %>"><%= @locations[i].location_name %></button><br>
    <% end %>
    </div>

  
    </div>
  </form>

   <div id = "results_count"><h3>Now showing 0 Connections</h3></div>

  <div id = "results">
  </div>




<% else %>
  <a href = "/auth">Login using LinkedIn</a>
<% end %>
