
<% if login? %>
  <h4>Welcome <%= profile.first_name %>!</h4>
  <a href = "/auth/logout">Logout</a>
  <p><%= profile.headline %></p>
  <br />

  <form id = "search_query" action = "/search" method = "post">
    <div class = "search_template">
    <% 5.times do |i| %>
      <button class = "industry" value = "<%= @industries[i].industry_name %>"><%= @industries[i].industry_name %></button>
      <button class = "location" value = "<%= @locations[i].location_name %>"><%= @locations[i].location_name %></button>
      <br>
    <% end %>
      <br>
      <input type = "submit" value = "See Results!">
    </div>
  </form>

  <div id = "results">
    <div class = "item">
      <img>
        <h3></h3>
        <p></p>
        <p></p>
        <p></p>
      </div>
  </div>




<% else %>
  <a href = "/auth">Login using LinkedIn</a>
<% end %>

<!-- @@index
-if login?
  %p Welcome #{profile.first_name}!
  %a{:href => "/auth/logout"} Logout
  %p= profile.headline
  %br
  %div= "You have #{connections.total} connections!"
  -connections.all.each do |c|
    %div= "#{c.first_name} #{c.last_name} - #{c.headline}"
-else
  %a{:href => "/auth"} Login using LinkedIn -->