<div class = "search_parameters">
  <form action = '/results' method = "post">

    <div class = 'industry'>
      <h3>Industries</h3>
     <% @industry_results.each do |result| %>
        <input type = "checkbox" name = "industry[]" value = "<%= result.industry %>"><%= result.industry %></p>
      <% end %>
    </div>

    <div class = 'location'>
    <h3>Locations</h3>
     <% @location_results.each do |result| %>
        <% next if result.location.nil? %>
        <p><input type = "checkbox" name = "location[]" value = "<%= result.location %>"><%= result.location %></p>
      <% end %>
    </div>

      <input type = "submit" value = "See Connections">
  </form>

</div>



  <h3><a href = "/search">View my Network</a></h3>

<div class = "connections">
  <% connections.all.each do |c| %>
    <div class = "user_list">
    <img src = "<%= c.picture_url %>">
      <h3><%= c.first_name %> <%= c.last_name %> - <%= c.industry %></h3>
      <p><%= c.headline %></p>
      <% if c.location != nil %>
        <em><%= c.location.name %></em>
      <% end %>
      <br>
    </div>
  <% end %>
</div>
  <div>Showing <%= connections.total %> connections!</div>